.bg-theme{
  background-color: #563d7c;
}

.font-15{
  font-size: 15px;
}

.about-theme, .education-theme, .contact-theme{
  background-color: #805bb7;
}

.projects-theme{
  background-color: #563d7c;
}

.projects-section .card-box{
  background-color: #805bb7;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 80px -10px black;
}

.support{
    letter-spacing: 1px;
    text-align: left;
    margin-right: 10px;
    margin-left: 20px; 
}

.section-pad{
  padding: 70px 20px 70px 20px;
}

.cart-icon{
  font-size: 2rem;
}

.logo-icon{
  font-size: 2rem;
  color: #ffc107;
}



.hero-background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.profile-info{
  animation: fade 2s ease-in-out 1s both;
  animation-fill-mode: both;
}

.about-info{
  animation: fade 2.2s ease-in-out 1s both;
  animation-fill-mode: both;
}

.skills-list{
  animation: fade 2.4s ease-in-out 1s both;
  animation-fill-mode: both;
}


.projects-info, .contact-info, .education-details{
  animation: fade 2.5s ease-in-out 1s both;
  animation-fill-mode: both;
}

.section-image{
  height: 280px;
  border-radius: 25px;
}



@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(30px);
}
100% {
    opacity: 1;
    transform: translate(0);
}
}